body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #1d1d1d;
}
.container{
    background-color: rgb(42, 43, 46);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    min-height: 400px;
    overflow-y: auto;
    transition: height 0.3x ease;
}
h1{
    font-size: 44px;
    margin-bottom: 80px;
    color: rgb(207, 120, 6);
}
#completed{
    font-size: 16px;
    margin-bottom: 15px;
    color: rgb(207, 120, 6);
    text-align: left;
}
input[type="text"]{
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    font-family: "poppins", sans-serif;
    
}

#addBtn{
    width: 20%;
    padding: 10px;
    background-color: #2828c5;
    color: rgb(238, 237, 235);
    border: none;
    cursor: pointer;
    font-family: "poppins", sans-serif;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 5px;
}
#message{
    color: red;
    font-size: 14px;
    margin: 10px;
}
#listItem {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
#listItem li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 14px;
    position: relative; 
}
.checkmark {
    color: #4CAF50;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 0; 
}
#listItem li span {
    flex-grow: 1; 
    text-align: left; 
    margin-left: 10px;
}
#listItem li .fa-trash {
    color: #888;
    cursor: pointer;
    transition: color 0.3s;
    margin-left: 10px;
    
}

#listItem li .fa-trash:hover {
    color: #e74c3c;
}
#listItem li.taskCompleted {
    text-decoration: line-through;
    color: #999;
    background-color: #e0e0e0;
}
#listItem li button{
    border: none;
    background: none;
    outline: none;
}



